body {
    background-image: url("../images/bar.png");
}

h1{
    color:red;
    border:1px solid white;
    text-align: center;
    opacity: 1;
}

h2 {
    color:red;
    text-align: center;
    opacity: 1;
}

h3 {
    color:red;
    text-align: center;
    opacity:1;
}

p {
    color:red;
    text-align:center;
    opacity: 1;
}

.col-12{
    text-align: red ;
    margin-top: 100px;
}

.box{
    opacity: .5;
    background: black;
}